body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.banner {
  width: 100%;
}

.banner-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.category {
  margin: 20px;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 20px;
}

.movies-list {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: auto;
}

.movie-poster {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

